*{
	margin: 0;
	padding:0;
	border: 0;
}

body{
	font-family: Arial, sans-serif;
}
header h1{
	color: white;
}

header{
	background-color: #1D2228;
	border: 1px solid black;
	padding: 1em;
	text-transform: uppercase;
	display: flex;
	justify-content:space-between;
}

header .number-container{
	border-radius: 20px; 
	padding: 5px 15px 5px 15px; 
	background: #FB8122;
	padding-top: .5em;
}


header .number{
	color: white;
	font-weight: bold; 
	font-size: 18px;


/*	padding: 20px;
width: 200px;*/
/*	height: 150px;*/
}