*{
	margin: 0;
	padding:0;
	border: 0;
}

body{
	font-family: 'Montserrat', sans-serif;
}
header h1{
	color: white;
	letter-spacing: .3em;
}

header{
	background-color: #1D2228;
	border: 1px solid black;
	padding: 1em;
	text-transform: uppercase;
	display: flex;
	justify-content:space-around;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

header .number-container{
	border-radius: 20px; 
	padding: 5px 15px 5px 15px; 
	background: #FB8122;
	padding-top: .5em;
}

header .number{
	color: white;
	font-weight: bold; 
	font-size: 18px;
}

li.listElement{
	list-style: none;
	margin: 2em;
}

span.numberList{
	display: inline-block;
	padding: 0;
	width: 30px;
	height: 30px;    
	line-height: 30px;
	color:black;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border: 2.5px solid black;
	border-radius:50px;
	position: relative;
	top: -3px;
	margin-right: 1em;
}

section.new-item{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #E1E2E2;
	padding-bottom: 4em;
	padding-top: 2em;
	padding-left: 2em;
	bottom: 0;
}

section.list-item{
	margin-bottom: 100px;
	padding-bottom: 100px;
	margin-top: 7em;
}

h2{
	color: #1D2228;
	font-size: 1.2em;
}

input[type=text] {
	margin-top: .6em;
	background-color: rgba(251, 129, 34,0.6);
	color: #1D2228;
	width: 20em;
	height: 2em;²
	border-radius: 5px; 
}

input.submit{
	background-color: #1D2228;
	color: white;
	width: 3em;
	height: 2em;
	border-radius: 5px; 
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.new-item{
	position: fixed;
}


footer{
	background-color: #1D2228;
	bottom: 0;
	left: 0;
	right: 0;
	padding:0.5em;
	text-align: center;
	position: fixed;
}

footer p {
	color:white;
	font-weight: 500;
	letter-spacing: .5em;
}

.listElement{
	border-bottom: 1px solid rgba(251, 129, 34,0.3);
	padding-bottom: 1em;
}

.btn-delete{
	float: right;
	background-color: black;
	color: white;
	padding:.5em;
	text-decoration: none;
	border-radius: 5px; 
}

.btn-delete:hover{
	cursor: pointer;
}

.deleted-element{
	opacity: .4;
}